.statistic {
    margin: 20px 0 10px;
}
.statistic .items{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: center;
}
.statistic .item{
    font-size: 14px;
    color: #000;
    width: 20%;
    text-align: center;
    margin-bottom: 30px;
}
.statistic .item .counter{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #7776BC;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
    margin-bottom: 5px;
}
.statistic .item .counter span {
    font-size:32px;
}
.statistic .item .text{}


.work-us {}
.work-us .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px -10px 0;
}
.work-us .item{
    width: 25%;
    text-align: CENTER;
    padding: 0 10px 30px;
}
.work-us .item:before{
    content: attr(data-index);
    display: block;
    width: 70px;
    height: 70px;
    background: #7776BC;
    border-radius: 50%;
    margin: auto;
    color: #fff;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    line-height: 70px;
    margin-bottom: 20px;
}
.work-us .item .text{}

.why-us {
    margin: 10px 0 0px;
}
.why-us .items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.why-us .item{
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.why-us .item .text{
    width: calc(100% - 70px);
    padding: 0 20px;
}
.why-us .item .icon{
    border: 2px solid #7776BC;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-us .item .icon svg{
    width: 45px;
}


.map-full {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    margin: 20px 0 0 0;
}
.map-full .map-box {
    width: 59%;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    position: relative;
}
.map-full .map-box .addresses {
    position: ABSOLUTE;
    left: 0;
    right: 0;
    top: 10px;
    font-size: 14px;
    bottom: 10px;
    z-index: 2;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.9);
    max-width: 360px;
    margin: auto;
    overflow: auto;
}
.map-full .map-box .addresses .title  {
    font-size: 20px;
}

.map-full .map-box .addresses .address-block  {
  margin: 10px 0 0;
}

 .map-full .map-box  iframe {
     display: block;
     width: 100%;
     height: 100%;
     position: relative;
 }
.map-full .map-ballery {
    width: 41%;
}
.map-full .inner {display: flex;flex-wrap: wrap;}
@media (min-width:960px) {
    .slick-slide .slide .big{
    width: 50%;
}
}

@media (max-width: 960px) {
    .map-full .map-box {
        width:100%;
        padding: 0;
    }
    .map-full .map-ballery {
        width:100%;
    }
    .map-full .map-box .addresses {
        top: auto;
        max-width: 100%;
        bottom: 20px;
    }
    .map-full .map-box iframe {
        height: auto;
        height: 120vh;
    }
    .work-us .item {
        width:100%;
        display:flex;
        text-align: left;
        padding-bottom: 20px;
        align-items: center;
    }
    .work-us .item:before {
        width: 50px;
        height: 50px;
        font-size:30px;
        line-height:50px;
        margin: 0;
    }
    .work-us .item .text {
        width: calc(100% - 50px);
        padding-left: 17px;
    }
    .why-us .item {
        width:100%;
        margin-bottom: 20px;
    }
    .why-us .item .icon {
        width:50px;
        height:50px;
        padding:10px
    }
    .statistic .item {
        width:33.33%;
    }
}

@media (max-width:480px) {
    .work-us .item {
        align-items:flex-start;
    }
    .statistic .item {
        width:50%;
    }
    
   
}