
/* contact */
.address-block {
    position: relative;
    padding-left: 35px;
    margin: 10px 0 30px;
    width: 100%;
}
.address-block:before{
    content: '';
    background: url(../img/sprite.svg#point) -13px -3px no-repeat;
    background-size: cover;
    position: absolute;
    width: 29px;
    height: 28px;
    left: 0;
    top: 0;
    display: block;
}

.contact-gallery {
    margin: 15px 0 0;
}
.contact-gallery .title {font-size: 20px;margin-bottom: 14px;}
.contact-gallery .one{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.contact-gallery .left{
    width: 66%;
    padding-bottom: 15px;
}
.contact-gallery .left iframe {
    width:100%;
    height: 100%;
}
.contact-gallery .left img {
    display:block;
    width:100%;
}
.contact-gallery .right{
    width: 34%;
    /* display: flex; */
    font-size: 0;
}
.contact-gallery .right .img{
    padding: 0 0px 15px 15px;
    display: block;
    width: 50%;
}
.contact-gallery .right img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

@media  (max-width: 960px){
    section.content{
        margin-bottom: 40px;
    }
    .contact-gallery .left {width: calc(100% + 20px);margin: 0 -10px;height: 80vh;padding-bottom: 14px;}
    .contact-gallery .right {
        width: calc(100% + 14px);
        margin: 0 -7px;
    }
    .contact-gallery .right .img {
        padding: 0 7px 7px;
    }
}