

$colums : 24;

@for $i from 1 to $colums+1 {
    $width: $i/$colums*100%;

    .col-#{$i} {
        width: $width;
    }
}

@media (max-width) {
    @for $i from 1 to $colums {
        $width: $i/$colums*100%;

        .col-sm-#{$i} {
            width: #{$width}'%';
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}
.p5 {
    padding: 5px;
}