@import 'reset';
@import 'vars';
@import 'grid';
@import 'buttons';

body {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
    color: #000000;
    font-family: 'Rubik', sans-serif;
}
svg {
    display: block;
    max-width: 100%;
}
.container {
    max-width: 1190px;
    width: 100%;
    padding: 0 10px;
    margin: auto;
}

a {
    color: $colorSubBlack;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1, .h1 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    margin-bottom: 10px;
}

h2, .h2 {
    font-weight: 500;
    font-size: 30px;

}

h3 ,.h3{
    font-weight: 500;
    font-size: 28px;
}

h4, .h4 {
    font-weight: bold;
    font-size: 26px;
}

h5,.h5 {
    font-weight: normal;
    font-size: 24px;
}

section.content {
    margin-bottom: 140px;
}
p {
    margin-bottom: 5px;
}
b, strong {
    font-weight: 800;
}
.text-left {
    text-align: left;
}
/* contact */


@import 'header';
@import 'footer';