<div id="filterpro_box">
    <div class="inner">
        <div class="option_box">
            <div class="option_name">Цена:</div>
            <div class="price_slider collapsible">
                <div>
                    <span>от</span>
                    <input id="min_price" type="text" value="-1" name="min_price" readonly="readonly"
                        class="price_limit">
                    <span>до</span>
                    <input id="max_price" type="text" value="-1" name="max_price" readonly="readonly"
                        class="price_limit">
                        <div class="range-label"><i class="rouble"></i></div>
                </div>
                <div class="slider-box">
                    <div id="slider-range"></div>
                </div>
            </div>
        </div>



        <div class="option_box">
            <div class="option_name">Производитель:</div>
            <div class="collapsible">
                <input class="checkbox" type="checkbox" id="brend_1" value="">
                <label class="checkbox" for="brend_1">AUX<span>7</span></label>
                <input class="checkbox" type="checkbox" id="brend_2" value="">
                <label class="checkbox" for="brend_2">Ballu<span>7</span></label>
                <input class="checkbox" type="checkbox" id="brend_3" value="">
                <label class="checkbox" for="brend_3">Carrier<span>7</span></label>
                <input class="checkbox" type="checkbox" id="brend_4" value="">
                <label class="checkbox" for="brend_4">Chigo<span>7</span></label>
                <input class="checkbox" type="checkbox" id="brend_5" value="">
                <label class="checkbox" for="brend_5">Cooper&Hunter<span>7</span></label>
                <input class="checkbox" type="checkbox" id="brend_6" value="">
                <label class="checkbox" for="brend_6">Dahatsu<span>7</span></label>
                <input class="checkbox" type="checkbox" id="brend_7" value="">
                <label class="checkbox" for="brend_7">Daichi<span>7</span></label>
                <input class="checkbox" type="checkbox" id="brend_8" value="">
                <label class="checkbox" for="brend_8">Arteo<span>7</span></label>
                <input class="checkbox" type="checkbox" id="brend_9" value="">
                <label class="checkbox" for="brend_9">Balterio<span>7</span></label>
                <input class="checkbox" type="checkbox" id="brend_10" value="">
                <label class="checkbox" for="brend_10">BerryAlloc<span>7</span></label>
            </div>

        </div>
        <div class="option_box">
            <div class="option_name">Ширина:</div>
            <div class="price_slider collapsible">
                <div>
                    <span>от</span>
                    <input id="min_price1" type="text" value="-1" name="min_price" readonly="readonly"
                        class="price_limit">
                    <span>до</span>
                    <input id="max_price1" type="text" value="-1" name="max_price" readonly="readonly"
                        class="price_limit">
                        <div class="range-label">мм</div>
                </div>
                <div class="slider-box">
                    <div id="slider-range1"></div>
                </div>
            </div>
        </div>
        <div class="option_box">
            <div class="option_name">Высота:</div>
            <div class="price_slider collapsible">
                <div>

                    <span>от</span>
                    <input id="min_price2" type="text" value="-1" name="min_price" readonly="readonly"
                        class="price_limit">
                    <span>до</span>
                    <input id="max_price2" type="text" value="-1" name="max_price" readonly="readonly"
                        class="price_limit">
                        <div class="range-label">мм</div>
                </div>
                <div class="slider-box">
                    <div id="slider-range2"></div>
                </div>
            </div>
        </div>
        <div class="option_box">
            <div class="option_name">Глубина:</div>
            <div class="price_slider collapsible">

            <div>
                <span>от</span>
                <input id="min_price3" type="text" value="-1" name="min_price" readonly="readonly" class="price_limit">
                <span>до</span>
                <input id="max_price3" type="text" value="-1" name="max_price" readonly="readonly" class="price_limit">
                <div class="range-label">мм</div>
            </div>
                <div class="slider-box">
                    <div id="slider-range3"></div>
                </div>
            </div>
        </div>

        <div class="option_box">
            <div class="option_name">Цвет:</div>
            <div class="collapsible">
                <input class="checkbox" type="checkbox" id="option_1_1" value="">
                <label class="checkbox" for="option_1_1">Белый<span>7</span></label>
                <input class="checkbox" type="checkbox" id="option_1_2" value="">
                <label class="checkbox" for="option_1_2"> Черный<span>7</span></label>
                <input class="checkbox" type="checkbox" id="option_1_3" value="">
                <label class="checkbox" for="option_1_3">Красный<span>7</span></label>
                <input class="checkbox" type="checkbox" id="option_1_4" value="">
                <label class="checkbox" for="option_1_4">Синий<span>7</span></label>
                <input class="checkbox" type="checkbox" id="option_1_5" value="">
                <label class="checkbox" for="option_1_5">Оранжевый<span>7</span></label>
                <input class="checkbox" type="checkbox" id="option_1_6" value="">
                <label class="checkbox" for="option_1_6">Зеленый<span>7</span></label>
                <input class="checkbox" type="checkbox" id="option_1_7" value="">
                <label class="checkbox" for="option_1_7">Серый<span>7</span></label>
                <input class="checkbox" type="checkbox" id="option_1_8" value="">
                <label class="checkbox" for="option_1_8"> 2 V/4V - с 2-х сторон / с 4-х сторон<span>7</span></label>
                <input class="checkbox" type="checkbox" id="option_1_9" value="">
                <label class="checkbox" for="option_1_9"> 2 V/4V - с 2-х сторон / с 4-х сторон<span>7</span></label>
                <input class="checkbox" type="checkbox" id="option_1_10" value="">
                <label class="checkbox" for="option_1_10"> 2 V/4V - с 2-х сторон / с 4-х сторон<span>7</span></label>
            </div>
        </div>
        <div class="button" id="apply-filter">
            Показать <span class="count">12</span> товаров
        </div>
    </div>
</div>