<div class="product">
    <div class="inner">
        <div class="img">
            <a href="#"><img src="img/product.png" alt=""></a>
            <div class="percent percent-10">-3%</div>
        </div>
        <div class="descr">
        <div class="name">Диван-книжка съемный чехол Кристина</div>
        <div class="prices">
            <div class="price rouble">7 490</div>
            <div class="old-price rouble">7 490</div>
        </div>
        <div class="controls">
            <div class="fast-link" onclick="fastOrder('Диван-книжка съемный чехол Кристина', 1)">Купить в один клик</div>
            <div class="buy">
                <svg>
                    <use xlink:href="img/sprite.svg#cart"> </use>
                </svg>
            </div>
        </div>
    </div>  
    </div>
</div>