<div class="block-title">Популярные категории</div>
<div class="category-images">
    <div class="one">
        <a href="#" class="inner">
            <span class="img"><img src="img/category-image1.png" alt=""></span>
            <span class="descr">
                <span class="name">Каталог камодов</span>
                <span class="small-price">от 7 490 <i class="rouble"></i></span>
            </span>
        </a>
    </div>
    <div class="one">
        <a href="#" class="inner">
            <span class="img"><img src="img/category-image2.png" alt=""></span>
            <span class="descr">
                <span class="name">Каталог камодов</span>
                <span class="small-price">от 7 490 <i class="rouble"></i></span>
            </span>
        </a>
    </div>
    <div class="one">
        <a href="#" class="inner">
            <span class="img"><img src="img/category-image3.png" alt=""></span>
            <span class="descr">
                <span class="name">Каталог камодов</span>
                <span class="small-price">от 7 490 <i class="rouble"></i></span>
            </span>
        </a>
    </div>
    <div class="one">
        <a href="#" class="inner">
            <span class="img"><img src="img/category-image4.png" alt=""></span>
            <span class="descr">
                <span class="name">Каталог камодов</span>
                <span class="small-price">от 7 490 <i class="rouble"></i></span>
            </span>
        </a>
    </div>
    <div class="one">
        <a href="#" class="inner">
            <span class="img"><img src="img/category-image5.png" alt=""></span>
            <span class="descr">
                <span class="name">Каталог камодов</span>
                <span class="small-price">от 7 490 <i class="rouble"></i></span>
            </span>
        </a>
    </div>
    <div class="one">
        <a href="#" class="inner">
            <span class="img"><img src="img/category-image6.png" alt=""></span>
            <span class="descr">
                <span class="name">Каталог камодов</span>
                <span class="small-price">от 7 490 <i class="rouble"></i></span>
            </span>
        </a>
    </div>
    <div class="one">
        <a href="#" class="inner">
            <span class="img"><img src="img/category-image7.png" alt=""></span>
            <span class="descr">
                <span class="name">Каталог камодов</span>
                <span class="small-price">от 7 490 <i class="rouble"></i></span>
            </span>
        </a>
    </div>
    <div class="one">
        <a href="#" class="inner">
            <span class="img"><img src="img/category-image8.png" alt=""></span>
            <span class="descr">
                <span class="name">Каталог камодов</span>
                <span class="small-price">от 7 490 <i class="rouble"></i></span>
            </span>
        </a>
    </div>
</div>