<foooter>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="footer-title">Каталог</div>
                <ul>
                    <li><a href="#">Мягкая мебель</a></li>
                    <li><a href="#">Корпусная мебель</a></li>
                    <li><a href="#">Детская мебель</a></li>
                    <li><a href="#">Мебель для кухни</a></li>
                    <li><a href="#">Офисная мебель</a></li>
                    <li><a href="#">Мебель для дачи</a></li>
                    
                </ul>
            </div>
            <div class="col-5">
                <div class="footer-title">Информация</div>
                <ul>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Поставщикам</a></li>
                    <li><a href="#">Организациям</a></li>
                    <li><a href="#">Гарантия Лучшей Цены</a></li>
                </ul>
            </div>
            <div class="col-5">
                <div class="footer-title">Контакты</div>
                <p><a href="tel:78129801875">+7 (812) 980-18-75</a></p>
                <p>Ежедневно с 10.00 до 22.00</p>
                <p>Прием заказов онлайн круглосуточно</p>
                <p>zakaz@komod78.ru</p>
            </div>
            <div class="col-5">
                <div class="footer-title">Написать письмо директору</div>
                <a href="#" class="button transparent">Заказать обратный звонок</a>
                <div class="cards">
                    <p>Мы принимаем к оплате</p>



                </div>
            </div>
        </div>
        <div class="footer-benefis">
            <div class="row">
                <div class="col-6">
                    <div class="title">15 лет на рынке</div>
                </div>
                <div class="col-6">
                    <div class="title">100 000 + клиентов</div>
                </div>
                <div class="col-6">
                    <div class="title">7000  товаров</div>
                </div>
                <div class="col-6">
                    <div class="title">100 фабрик парнеров</div>
                </div>
            </div>
        </div>    
    </div>
    <div class="bottom">
        <div class="container">
            <div class="row copy-box">
                <div class="col-8">© 2020. Все права защищены</div>
                <div class="col-8">«Komod78» - мебельный интернет-магазин</div>
                <div class="col-8">Сегодня в продаже: 7258 ед. товаров</div>
            </div>
            <div class="row">
                <div class="col-12">
                    Информация на данном интернет-сайте носит исключительно ознакомительный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
                </div>
                <div class="col-12">
                    Окончательная цена, условия и сроки доставки, а также комплектация и другие характеристики товаров - уточняются нашими менеджерами.
                </div>
            </div>
        </div>
    </div>

 
</foooter>

</body>

</html>