<footer>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="footer-title">Каталог</div>
                <ul>
                    <li><a href="#">Мягкая мебель</a></li>
                    <li><a href="#">Корпусная мебель</a></li>
                    <li><a href="#">Детская мебель</a></li>
                    <li><a href="#">Мебель для кухни</a></li>
                    <li><a href="#">Офисная мебель</a></li>
                    <li><a href="#">Мебель для дачи</a></li>

                </ul>
            </div>
            <div class="col-6">
                <div class="footer-title">Информация</div>
                <ul>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Поставщикам</a></li>
                    <li><a href="#">Организациям</a></li>
                    <li><a href="#">Гарантия Лучшей Цены</a></li>
                </ul>
            </div>
            <div class="col-5">
                <div class="footer-title">Контакты</div>
                <p><a href="tel:78129801875">+7 (812) 980-18-75</a></p>
                <p>Ежедневно с 10.00 до 22.00</p>
                <p>Прием заказов онлайн круглосуточно</p>
                <p><a href="mailto:zakaz@komod78.ru">zakaz@komod78.ru</a></p>
            </div>
            <div class="col-7 right-col">
                <div class="footer-title">Написать письмо директору</div>
                <a href="#" class="button transparent">Заказать обратный звонок</a>
                <div class="cards">
                    <div class="title">Мы принимаем к оплате</div>
                    <svg>
                        <use xlink:href="img/sprite.svg#yandex.money"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#webmoney"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#mastercard"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#googlepay"></use>
                    </svg>
                    <svg>
                        <use xlink:href="img/sprite.svg#visa"></use>
                    </svg>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-benefis">
        <div class="container">
            <div class="item">15 лет на <br>рынке</div>
            <div class="item">100 000 + <br>клиентов</div>
            <div class="item">7000 <br>товаров</div>
            <div class="item">100 фабрик <br>парнеров</div>
        </div>
    </div>

    <div class="bottom">
        <div class="container">
            <div class="copy-box">
                <div class="col">© 2020. Все права защищены</div>
                <div class="col">«Komod78» - мебельный интернет-магазин</div>
                <div class="col">Сегодня в продаже: 7258 ед. товаров</div>
            </div>
            <div class="row">
                <div class="col-12">
                    Информация на данном интернет-сайте носит исключительно ознакомительный характер и ни при каких
                    условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
                </div>
                <div class="col-12">
                    Окончательная цена, условия и сроки доставки, а также комплектация и другие характеристики товаров -
                    уточняются нашими менеджерами.
                </div>
            </div>
        </div>
    </div>


</footer>

<script src="js/fancybox/jquery.fancybox.js"></script>
<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css">

<script src="js/main.js"></script>
<link
    href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

</body>

</html>