<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
</head>

<body>
    <header>
        <div class="top">
            <div class="container">
                <div class="left">
                    <ul>
                        <li><a href="#">Доставка и оплата</a></li>
                        <li><a href="#">Гарантия</a></li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li><a href="#">Со склада</a></li>
                        <li><a href="#">Акции</a></li>
                        <li><a href="#">Новинки</a></li>
                        <li><a href="#">Ткани</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                    <a href="#" class="cart">
                        <span class="icon" data-count="10">
                            <svg class="img">
                                <use xlink:href="img/sprite.svg#cart"></use>
                            </svg>
                        </span>

                        <div class="text">В корзине 10 товаров</div>
                    </a>
                </div>



            </div>
        </div>
        <div class="middle">
            <div class="container">
                <a href="#" class="logo">
                    <img src="img/sprite.svg#logo" width="137" height="107" alt="">
                </a>

                <div class="right">
                    <div class="row-1">
                        <div class="time">Прием заказов онлайн: <span>Круглосуточно</span></div>
                        <div class="adresses">
                            <div class="caption">Ближайший адрес магазина: <span>ул. Караваевская 23, ТЦ Мебель Дом, 2ой этаж 214-215 секция</span></div>
                            <div class="drop-adress">
                                <div class="rows">ул. Караваевская 23, ТЦ Мебель Дом, 2ой этаж 214-215 секция</div>
                                <div class="rows">ул. Караваевская 23, ТЦ Мебель Дом, 2ой этаж 214-215 секция</div>
                                <div class="rows">ул. Караваевская 23, ТЦ Мебель Дом, 2ой этаж 214-215 секция</div>
                                <div class="rows">ул. Караваевская 23, ТЦ Мебель Дом, 2ой этаж 214-215 секция</div>
                                <div class="rows">ул. Караваевская 23, ТЦ Мебель Дом, 2ой этаж 214-215 секция</div>
                            </div>

                        </div>
                    </div>
                    <div class="row-2">
                        <div class="search">

                            <input type="text" name="search" placeholder="Поиск по каталогу">
                            <button class="search-btn">
                                <svg>
                                    <use xlink:href="img/sprite.svg#zoom"></use>
                                </svg>
                            </button>
                        </div>

                        <div class="phone-block">
                            <div class="time">09:00 - 22:00</div>
                            <a href="tel:88129801875" class="phone">8 (812) 980-18-75</a>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#" class="active">Гостиная</a></li>
                        <li><a href="#">Кухни</a></li>
                        <li><a href="#">Мягкая мебель</a></li>
                        <li><a href="#">Комоды</a></li>
                        <li><a href="#">Спальня</a></li>
                        <li><a href="#">Матрасы</a></li>
                        <li><a href="#">Офис</a></li>
                        <li><a href="#">Прихожая</a></li>
                        <li><a href="#">Шкафы</a></li>
                        <li><a href="#">Детская</a></li>
                        <li><a href="#">Мебель из ротанга</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>