<div class="big">
    <a href="https://dummyimage.com/800x700/ddd/000&text=smallimage" data-size="800x600" class="small-image">
        <img src="img/works2.png" alt="">
        <span class="name">
            <span class="text">Установка мебели</span>
            <span class="sub-text">Кухня Ксюша бордо-белый</span>
        </span>
    </a>
    <a href="https://dummyimage.com/800x700/ddd/000&text=smallimage" data-size="800x600" class="small-image">
        <img src="img/works3.png" alt="">
        <span class="name">
            <span class="text">Установка мебели</span>
            <span class="sub-text">Кухня Ксюша бордо-белый</span>
        </span>
    </a>
    <a href="https://dummyimage.com/800x700/ddd/000&text=smallimage" data-size="800x600" class="small-image">
        <img src="img/works4.png" alt="">
        <span class="name">
            <span class="text">Установка мебели</span>
            <span class="sub-text">Кухня Ксюша бордо-белый</span>
        </span>
    </a>
    <a href="https://dummyimage.com/800x700/ddd/000&text=smallimage" data-size="800x600" class="small-image">
        <img src="img/works5.png" alt="">
        <span class="name">
            <span class="text">Установка мебели</span>
            <span class="sub-text">Кухня Ксюша бордо-белый</span>
        </span>
    </a>
</div>